.buttonContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13.5px;
  font-weight: bold;
  background-color: #f7f7f8;

  &.active {
    background-color: #d2e4ff;
    color: #1959b8;
  }
}

.error {
  color: red;
}

.productList {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  // grid
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}
