.dashboardPage {
  .dashboardGreeting {
    margin-bottom: 20px;
  }

  .dashboardContent {
    display: flex;
    flex-direction: row;

    h3 {
      font-size: 18px;
    }

    > div {
      &.dashboardLeft {
        flex-grow: 1;
        padding: 10px;
      }
      &.dashboardRight {
        flex: 0 0 360px;
      }
    }
  }
}
