.missionItem {
  display: flex;
  flex-basis: 252px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  height: 154px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;

  @keyframes glowPulse {
    0% {
      box-shadow: 0px 0px 0px 0px #4a91fd;
    }
    50% {
      box-shadow: 0px 0px 10px 1px #4a91fd;
    }
    100% {
      box-shadow: 0px 0px 0px 0px #4a91fd;
    }
  }

  &.IN_PROGRESS {
    border-color: #4a91fd;
    box-shadow: 0px 0px 20px 0px #4a91fd;
    animation: glowPulse 2s ease-in-out infinite;
  }

  &.COMPLETED {
    border: 2px solid #04a37e;
  }

  &.emptyCol {
    background-color: transparent;
    border: none;
    cursor: default;
  }

  > p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }

  > div {
    &:nth-child(2) {
      progress {
        width: 80px;
        margin-right: 10px;
        font-size: 16px;
      }

      span {
        font-size: 12px;
        color: #666;
      }
    }

    &:last-child {
      margin-top: auto;
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.difficulty {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;

  svg {
    margin-right: 4px;
  }
  &.EASY svg {
    color: #4caf50;
  }
  &.NORMAL svg {
    color: #5b9cfe;
  }
  &.HARD svg {
    color: #ff9800;
  }
}

.course {
  font-weight: bold;
  background-color: #f3f4f5;
  color: #55545c;
  padding: 2px;
  margin-left: 10px;
}
