.missionDetail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.missionDetailActions {
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid #e0e0e0;
}

.missionDetailActionButton {
  padding: 8px 16px;
  background-color: #609ae9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
