.taskItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.taskStatus {
  font-weight: bold;
  color: #333;
  font-size: 12px;
  padding: 3px 6px;
  background-color: #f3f4f5;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;

  &.NOT_STARTED {
    color: #333;
    background-color: #f3f4f5;
    border: 1px solid #e0e0e0;
  }

  &.IN_PROGRESS {
    color: #1959b8;
    background-color: #f0f6ff;
    border: 1px solid #4890fe;
  }

  &.COMPLETED {
    color: #0a614d;
    background-color: #ebf8f5;
    border: 1px solid #04a37e;
  }
}

.taskName {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.taskScore {
  margin-left: auto;
  color: #666;
  border: 1px solid #e0e0e0;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
