/* DateRangePickerCustom.css */

.react-datepicker {
  font-family: 'Pretendard', sans-serif;
  border: none;
  box-shadow: none;
}

.react-datepicker__month-container {
  width: 300px;
}

/* 커스텀 네비게이션 위치 정렬 */
.react-datepicker__navigation {
  top: 10px;
  width: 55px;
  height: 25px;
}

/* 왼쪽 화살표 */
.react-datepicker__navigation--previous {
  left: 8px;
}

/* 오른쪽 화살표 */
.react-datepicker__navigation--next {
  right: 8px;
}


.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding: 10px 0;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.react-datepicker__day {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 2px;
  font-size: 14px;
  border-radius: 6px;
}

/* 요일 줄 전체 (Su, Mo, ...) */
.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 36px);
  justify-content: center;
  column-gap: 4px;
  
  margin-bottom: -13px;
}

/* 요일 각각 (Su, Mo, ...) */
.react-datepicker__day-name {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 36px);
  justify-content: center;
  column-gap: 4px;
}


.react-datepicker__day--in-range {
  background-color: #eef2ff;
  color: #333;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #4e6ef2;
  color: #fff;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #dfe3ff;
}
